<div class="board-container">

<h1 class="board-heading">NOTIFICATIONS</h1>


<% if @notifications.any? %>
  <% @unread_count = 2 %>
  <ul class="notifications-list">
    <% @notifications.each_with_index do |notification, index| %>
      <li class="notification-item <%= 'unread' if index < @unread_count %>">
        <div class="notification-header">
          <span class="notification-time">
            <%= notification.created_at.strftime("%b %d, %Y %H:%M") %>
          </span>
        </div>
        <div class="notification-body">
          <%= link_to notification.message, notification.url, class: "notification-link" %>
        </div>
      </li>

    <% end %>
  </ul>
<% else %>
  <p class="no-notifications">No new notifications.</p>
<% end %>

</div>