
<li class="offer-card">
<%= link_to bulletin_post_path(post), class: "offer-card-link" do %>
  <div class="offer-card-inner">
    <h3 class="offer-title"><%= post.title %></h3>
    <p class="offer-description"><%= post.description.truncate(500) %></p>
    <div class="offer-actions">
      <% if !user_signed_in? %>
        <%= link_to "Login to view details", new_user_session_path, class: "offer-btn offer-btn--secondary" %>
      <% end %>
    </div>
  </div>
<% end %>
</li>
