<div id="<%= dom_id bulletin_post %>">
  <p>
    <strong>Title:</strong>
    <%= bulletin_post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bulletin_post.description %>
  </p>

</div>
