<% content_for :title, "New bulletin post" %>

<h1>New bulletin post</h1>

<%= render "form", bulletin_post: @bulletin_post %>

<br>

<div>
  <%= link_to "Back to bulletin posts", bulletin_posts_path %>
</div>
