<% content_for :title, "Editing teaching offer" %>



<div class="board-container">
<h1 class="board-heading">Editing Teaching Offer</h1>


<%= render "form", teaching_offer: @teaching_offer %>

<br>

<div>
  <%= link_to "Show this teaching offer", @teaching_offer %> |
  <%= link_to "Back to teaching offers", teaching_offers_path %>
</div>
</div>
