<p style="color: green"><%= notice %></p>

<% content_for :title, "Teaching offers" %>

<h1>Teaching offers</h1>

<div id="teaching_offers">
  <% @teaching_offers.each do |teaching_offer| %>
    <%= render teaching_offer %>
    <p>
      <%= link_to "Show this teaching offer", teaching_offer %>
    </p>
  <% end %>
</div>

<%= link_to "New teaching offer", new_teaching_offer_path %>
