<% content_for :title, "New teaching offer" %>

<div class="board-container">
<h1 class="board-heading">New Teaching Offer</h1>


<%= render "form", teaching_offer: @teaching_offer %>

<br>

<div>
  <%= link_to "View all to teaching offers", teaching_offers_path %>
</div>
</div>